.main__button{
    color: var(--color-2);
    font-family: "Sen", serif;
    font-size: 1rem;
    border-radius: 1.438rem;
    width: 13.813rem;
    height: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
    border: none;
    background-color: var(--color-1);
}

.main__button:hover{
    background-color: var(--color-1);
    cursor: pointer;
    animation-name: animation-bt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-bt {
    0% {
        background-color: var(--color-1);
    }
  
    50% {
        background-color: var(--color-3);
        transform: scale(1.05);
        color: var(--color-1);
        border: 1.5px solid var(--color-1);
    }

    100% {
        background-color: var(--color-1);
    }
  }