.main__button{
    color: #7D8C87;
    font-family: "Sen", serif;
    font-size: medium;
    border-radius: 23px;
    width: 221px;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    background-color: #F0F2E9;
}

.main__button:hover{
    background-color: #F0F2E9;
    cursor: pointer;
    animation-name: animation-bt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-bt {
    0% {
        background-color: #F0F2E9;
    }
  
    50% {
        background-color: #203D40;
        transform: scale(1.05);
        color: #F0F2E9;
        border: 1.5px solid #F0F2E9;
    }

    100% {
        background-color: #F0F2E9;
    }
  }