.footer__svg{
    width: 1.875rem;
    margin: 0rem 0.313rem;
}

.footer__svg:hover{
    cursor: pointer;
    animation-name: animation-bt-footer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-bt-footer {
    0% {}
  
    50% {
        transform: scale(1.1);
    }

    100% {}
  }

.footer__credits{
    color: var(--color-1);
    font-family: "Anonymous Pro", serif;
    font-size: 0.625rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
}

.div__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.div__bt__footer{
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.15rem;
    font-size: 0.813rem;
    text-decoration: underline;
    width: auto;
    gap: 0.3rem;
    text-underline-offset: 0.11rem;
}

.menu__bt__footer{
    display: block;
}

.footer__item{
    display: none;
    color: var(--color-1);
}

.footer__itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
}

.footer__itens__child{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: min-content;
    justify-content: center;
}

.menu__click__animation{
    animation-name: animation-menu;
    animation-duration: 1s;
}

@keyframes animation-menu {
    from {
      width: 0%;
    }
  
    to {
      width: 100%;
    }
  }