.div__body{
    background: linear-gradient(to bottom, var(--color-2), var(--color-3));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    touch-action: none;
}

.page__title{
    color: var(--color-1);
    font-family: 'Michroma';
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.7rem;
    text-decoration: underline;
}

html { 
    font-size: var(--fonte); 
}