@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=REM:ital,wght@0,100..900;1,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Sen:wght@400..800&display=swap');

.div__body{
    background: linear-gradient(to bottom, #7D8C87, #203D40);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    touch-action: none;
}

.main__title__name{
    color: #F0F2E9;
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

.main__title__sub{
    color: #F0F2E9;
    font-family: "REM", serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 15px;
}

.main__button{
    color: #7D8C87;
    font-family: "Sen", serif;
    font-size: medium;
    border-radius: 23px;
    width: 221px;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
}

.footer__svg{
    width: 30px;
    margin: 0px 5px;
}

.footer__credits{
    color: #F0F2E9;
    font-family: "Anonymous Pro", serif;
    font-size: 10px;
    letter-spacing: 0.2vh;
    font-weight: 100;
}

.main__div__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.div__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.div__bt__footer{
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans';
    color: #F0F2E9;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2vh;
    font-size: 13px;
    text-decoration: underline;
    width: auto;
}

.div__projects{
    display: flex;
    width: 18rem;
    justify-self: center;
    gap: 2vh;
}

.img__work{
    width: 70%;
    border-radius: 13px;
}

.div__work{
    display: flex;
    flex-direction: column;
    background-color: #7D8C87;
    align-items: center;
    padding: 2vh;
    border-radius: 28px;
    gap: 2vh;
}

.title__work{
    color: #011826;
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}

.div__svg__work{
    display: flex;
    gap: 2vh;
}

.desc__work{
    font-family: 'Outfit';
    font-weight: 200;
    font-size: 12px;
    color: #F0F2E9;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 0 10px;
}

.page__title{
    color: #F0F2E9;
    font-family: 'Michroma';
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.7vh;
    text-decoration: underline;
}

.skill__card{
    display: flex;
    background-color: #203D40;
    color: #F0F2E9;
    align-items: center;
    gap: 0.4vh;
    border-radius: 27px;
    padding: 7px;
    font-size: 15px;
    font-family: 'Outfit';
    letter-spacing: 0.3vh;
    text-transform: capitalize;
}

.svg__skills{
    width: 60px;
}

.div__skills{
    display: flex;
    flex-wrap: wrap;
    width: 30vh;
    justify-content: space-around;
    gap: 2vh;
    height: 60vh;
    clip-path: margin-box;
    overflow: auto;
    touch-action: pan-y;
}

.div__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 40vh;
}

.img__about{
    width: 9rem;
    border-radius: 50px;
    border: 2px solid #011826;
}

.div__txt__about{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
    font-family: 'Anonymous Pro';
}

.txt__title__about{
    color: #011826;
    font-weight: 700;
}

.txt__about{
    color: #F0F2E9;
    font-weight: 100;
}

.div__social{
    display: flex;
    gap: 1vh;
}

.menu__bt__footer{
    display: block;
}

.footer__item{
    display: none;
    color: #F0F2E9;
}

.footer__itens{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
