@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=REM:ital,wght@0,100..900;1,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Sen:wght@400..800&display=swap');

:root{
    --color-1: #F0F2E9;
    --color-2: #7D8C87;
    --color-3: #203D40;
    --color-4: #011826;
    --color-5: #0D0D0D;

    --fonte: 16px;
}

.grey-theme{
    --color-1: #F0F2E9;
    --color-2: #7D8C87;
    --color-3: #203D40;
    --color-4: #011826;
    --color-5: #0D0D0D;
}

.blue-theme{
    --color-1: #F2F2F2;
    --color-2: #6393F2;
    --color-3: #00349c;
    --color-4: #092969;
    --color-5: #1E2026;
}

.yellow-theme{
    --color-1: #E4EAF2;
    --color-2: #F2B705;
    --color-3: #F27507;
    --color-4: #8C1C03;
    --color-5: #0D0D0D;
}

.dark-brown-theme{
    --color-1: #D95F18;
    --color-2: #BF4417;
    --color-3: #400F04;
    --color-4: #731D0A;
    --color-5: #0D0D0D;
}
