.main__title__name{
    color: var(--color-1);
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

.main__title__sub{
    color: var(--color-1);
    font-family: "REM", serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 0.938rem;
}

.main__div__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    text-shadow: 0.2rem 0.2rem 2.5rem var(--color-3);
}